.header {
  width: 90vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5vh var(--padding-x);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--h-ul);
  nav {
    display: flex;
    gap: 5vw;
    h3 {
      color: var(--soco-blue);
    }
    .hamburger {
      display: none;
    }
    ul {
      .link_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        a {
          text-decoration: none;
          color: var(--fc-sec);
          li {
            list-style: none;
            text-decoration: none;
          }
        }
        .loginSignupMob {
          display: none;
        }
      }
    }
  }
  .loginSignup,
  .loginSignupMob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    hr {
      height: 30px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .header {
    position: relative;
    z-index: 3;
    padding: 15px 0;
    padding-top: 0;

    nav {
      position: relative;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        // background-color: red;
        .line {
          width: 25px;
          height: 2px;
          margin: 2.5px 0;
          background-color: var(--fc-sec);
          transition: 0.3s ease-in-out;
        }
      }
      .open {
        .line1 {
          transform: translate(5px, 5px) rotate(45deg);
        }
        .line2 {
          transform: translateX(-10px);
          opacity: 0;
        }
        .line3 {
          transform: translate(5px, -8px) rotate(-45deg);
        }
      }
      ul {
        height: 400px;
        transition: 0.3s height ease-in-out;
        overflow: hidden;
        position: absolute;
        box-shadow: var(--box-shdw-1);
        // top: 5vh;
        bottom: 0;
        right: 0px;
        width: 60%;
        background-color: #fff;
        transform: translateY(calc(100% + 15px));
        .link_wrapper {
          flex-direction: column;
          background-color: #fff;
          gap: 0px;
          align-items: flex-start;
          padding: 30px 20px;
          border-radius: 10px;
          a {
            padding: 10px;
          }
          .loginSignupMob {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            margin-top: 20px;
            hr {
              display: none;
            }
            button {
              width: 100%;
              background-color: var(--soco-blue);
              padding: 10px 20px;
              color: #fff;
            }
          }
        }
      }
    }
    .loginSignup {
      display: none;
    }
  }
}
