.createAnAccount,
.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
  height: 70vh;
  // background: red;
  overflow: hidden;
  .content {
    width: 60%;
    ul {
      margin: 30px 0;
      margin-bottom: 40px;
      transform: translateX(25px);
      li {
        // list-style: none;
        margin: 10px 0;
      }
    }
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: contain;
      width: 100%;
      // height: auto;
    }
  }
  .image_upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 50vh;
    // background-color: red;
    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      transition: 0.3s ease-in-out;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .dot_wrapper {
      position: absolute;
      bottom: 0;
    }
    .dot1,
    .dot2 {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d4d4d4;
      cursor: pointer;
    }
    .active {
      background: var(--soco-blue);
    }
  }
  .image_select {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    img {
      width: 90%;
      height: auto;
      object-fit: contain;
    }
  }
  .image_publish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    right: -2.5vw;
    .circles {
      position: absolute;
      width: 20vw;
      height: 20vw;
      border-radius: 50%;
      border: 1px solid var(--h-ul);
      z-index: -1;
      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid var(--h-ul);
      }
      &::after {
        width: 27.5vw;
        height: 27.5vw;
        border-radius: 50%;
      }
      &::before {
        width: 35vw;
        height: 35vw;
        border-radius: 50%;
      }
    }
    img {
      width: 90%;
      height: auto;
      object-fit: contain;
    }
  }
}

@media only screen and (max-width: 850px) {
  .createAnAccount,
  .upload {
    flex-direction: column-reverse;
    height: fit-content;
    padding: 10px 0;
    .content {
      width: 100%;
      margin-top: 30px;
      ul {
        // transform: none;
        text-align: left;
        width: calc(100% - 25px);
        li {
          // list-style: none;
        }
      }
    }
    .image {
      margin-bottom: 20px;
      img {
        width: auto;
        height: 25vh;
      }
    }
    .image_upload {
      height: 30vh;
      img {
        width: auto;
        height: 25vh;
      }
    }
    .image_select {
      width: 100%;
      img {
        width: 100%;
      }
    }
    .image_publish {
      img {
        width: 100%;
      }
    }
  }
  .upload {
    // height: 110vh;
  }
}
