.createAnAccount,
.upload {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5vh 0;
  .content {
    width: 60%;
    ul {
      margin: 30px 0;
      margin-bottom: 40px;
      li {
        // list-style: none;
        margin: 10px 0;
      }
    }
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: contain;
      width: 100%;
      // height: auto;
    }
  }
  .image_upload {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 50%;
    height: 40vh;
    // background-color: red;
    img {
      width: 90%;
      height: auto;
      object-fit: contain;
      transition: 0.3s ease-in-out;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .dot1,
    .dot2 {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #d4d4d4;
    }
    .active {
      background: var(--soco-blue);
    }
  }
  .image_select {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 90%;
      height: auto;
      object-fit: contain;
    }
  }
  .image_publish {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    img {
      width: 90%;
      height: auto;
      object-fit: contain;
    }
  }
}
.upload {
  height: 60vh;
  overflow: hidden;
}

@media only screen and (max-width: 700px) {
  .createAnAccount,
  .upload {
    flex-direction: column-reverse;
    .content {
      width: 100%;
      ul {
        li {
          list-style: none;
        }
      }
    }
    .image {
      margin-bottom: 20px;
      img {
        width: auto;
        height: 30vh;
      }
    }
    .image_upload {
      img {
        width: auto;
        height: 30vh;
      }
    }
  }
  .upload {
    height: 110vh;
  }
}
