.testimonials {
  position: relative;
  left: -5vw;
  width: 99vw;
  padding: var(--padding-sec-y) var(--padding-x);
  background: var(--gradient-yellow);
  text-align: center;
  margin: var(--padding-sec-y) 0;
  span {
    display: flex;
    justify-content: center;
    position: relative;
    transform: translateX(-2.5vw);
    .quotes {
      transform: translate(-1vw, -4vw);
      height: 4vw;
      font-size: var(--fs-quotes);
      font-family: var(--f-quotes);
      color: var(--fc-yellow);
    }
  }

  .swiper {
    width: 100%;
    .t_card,
    .t_card_expanded {
      position: relative;
      width: 90%;
      height: 340px;
      text-align: left;
      border-radius: 20px;
      padding: 10% 5%;
      padding-bottom: 20px;
      margin-bottom: 20px;
      p {
        color: var(--fc-pri);
      }
      .image {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 10px;
        gap: 20px;
        img {
          width: auto;
          height: 125px;
          object-fit: contain;
          border-radius: 10px;
          box-shadow: var(--box-shdw-1);
        }
        .stud_detail {
          p {
            font-size: var(--fs-sec);
          }
          .stars {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
              box-shadow: none;
              width: 25px;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }
      .card_content {
        span {
          width: 100%;
          transform: none;
          display: inline;
          .clamped {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
          }
          h4 {
            color: var(--soco-blue);
            margin-top: 2.5px;
            cursor: pointer;
            width: fit-content;
            font-weight: 600;
            font-size: var(--fs-sec);
          }
        }
        &::-webkit-scrollbar {
          display: none;
        }
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        background-color: inherit;
        height: 100%;
        width: 100%;
        border-radius: 20px;
        filter: blur(10px);
        // opacity: 0.5;
        z-index: -1;
      }
    }
    .t_card_expanded {
      height: fit-content !important;
      .card_content {
        height: fit-content;
        &::-webkit-scrollbar {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .testimonials {
    width: 100vw;
    .swiper {
      .t_card,
      .t_card_expanded {
        width: 90vw;
        height: 380px;
        margin-bottom: 30px;
        br {
          display: none;
        }
        .image {
          flex-direction: column;
          align-items: center;
          text-align: center;
          .stud_detail {
            h3 {
              font-size: var(--fs-sec);
            }
            p {
              font-size: 12px;
            }
            .stars {
              justify-content: center;
            }
          }
        }
        .card_content {
          text-align: justify;
          span {
            h4 {
              width: 100%;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
