.heading1 {
  font-size: var(--fs-pri);
  font-weight: 600;
  color: var(--fc-pri);
  display: block !important;
}

.heading3 {
  font-size: var(--fs-ter);
  font-weight: 600;
  color: var(--fc-pri);
}
