.hero {
  width: 100%;
  min-height: calc(100vh - 10vh);
  position: relative;
  background-image: url("../../../assets/images/hero/dot-bg.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  .video {
    display: none;
  }
  .portfolio,
  .growth {
    position: absolute;
    top: 5vh;
    animation: wave 3s ease-in-out infinite;
  }
  .portfolio {
    left: 0;
  }
  .growth {
    right: 0;
    animation-delay: 0.5s;
  }
  .boi,
  .girl {
    position: absolute;
    img {
      height: 50vh;
      object-fit: contain;
    }
  }
  .boi {
    left: -5%;
    top: 50%;
    transform: translateY(-50%) !important;
  }
  .girl {
    right: 0px;
    top: 50%;
    transform: translateY(-55%) !important;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    width: 70%;
    text-align: center;

    .desc_hero {
      width: 60%;
      margin: 5vh auto;
    }
    button {
      padding: 10px 40px;
      text-transform: none;
      border-radius: 10px;
    }
    .get_started {
      background: var(--btn-bg-blue);
      box-shadow: var(--btn-shdw-blue);
      color: #fff;
    }
    .learn_more {
      border: 2px solid var(--soco-blue);
    }
    .students {
      width: fit-content;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      p {
        color: var(--fc-pri);
        font-size: 18px;
        padding: 0;
        white-space: nowrap;
        margin: 0;
      }
      .student_card {
        display: flex;
        gap: 10px;
        align-items: center;
        box-shadow: var(--box-shdw-1);
        padding: 10px 30px;
        border-radius: 10px;
        img {
          border-radius: 50%;
        }
      }
    }
    // background-color: red;
  }
  &::after {
    position: absolute;
    bottom: 7.5vh;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    height: 2px;
    border-radius: 100px;
    width: 60%;
    background-color: var(--h-ul);
  }
}

@media only screen and (max-width: 850px) {
  .hero {
    background-image: none;
    height: fit-content;
    min-height: 80vh;
    width: 100%;
    // border-bottom: 1px solid var(--h-ul);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: var(--padding-sec-y);
    .boi,
    .girl {
      display: none;
    }
    .portfolio,
    .growth {
      animation: wave 3s ease-in-out infinite;
      z-index: 2;
      display: none;
      img {
        width: 100px;
        height: auto;
        object-fit: contain;
      }
    }
    .portfolio {
      top: 0vh;
    }
    .growth {
      top: 2vh;
      animation-delay: 0.3s;
    }
    .video {
      display: block;
      margin-top: 20px;
      .video_wrapper {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        .youtube {
          border-radius: 10px;
          height: 50vw;
          width: 90vw;
          border-radius: 20px !important;
          overflow: hidden;
          box-shadow: var(--box-shdw-1);
        }
      }
    }
    .content {
      width: 90vw;
      aspect-ratio: 300 / 275;
      position: relative;
      top: 0;
      left: 0;
      transform: none !important;
      z-index: 2;
      background-image: url(../../../assets/images/hero/mob_bg.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex-direction: column;
      // background-color: red;
      img {
        width: 100%;
        height: auto;
        object-fit: contain;
      }
      h1 {
        font-size: var(--fs-ter);
      }

      button {
        min-width: 200px;
        width: 60%;
        height: 7.5vh;
        padding: 15px 15px;
        position: absolute;
        top: 72.5%;
      }
      p {
        width: 100%;
        margin: 10px 0;
        display: none !important;
      }

      .students {
        display: none;
      }
    }
    &::after {
      content: "";
      // position: absolute;
      // top: 0px;
      // bottom: auto;
      // left: 50%;
      // backdrop-filter: blur(7.5px);
      // background-color: rgba(255, 255, 255, 0.4);
      // height: 100%;
      // width: 100%;
      // border-radius: 0;
      display: none;
    }
  }
}

@keyframes wave {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 320px) {
  .hero {
    .portfolio,
    .growth {
      display: none;
    }
  }
}
