.objective {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-sec-y) 0;
  .content {
    width: 35%;
    .btn {
      margin-top: 5vh;
    }
  }
  .images {
    position: relative;
    .img_bg {
      position: absolute;
      right: -5vw;
      top: 25%;
      background: var(--gradient-violet);
      width: calc(110% + 5vw);
      height: 50%;
      z-index: -1;
      border-radius: 20px 0px 0px 20px;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: inherit;
        border-radius: 20px 0px 0px 20px;
        filter: blur(20px);
        opacity: 0.5;
      }
    }
    .imgs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      gap: 20px;
      .row1,
      .row2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        .obj_card {
          width: 25vw;
          min-height: 15vw;
          border-radius: 20px;
          box-shadow: var(--box-shdw-1);
          padding: 5vh 0 2.5vh 0;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          background-color: #fff;

          p {
            width: 90%;
            text-align: center;
            margin-top: 20px;
            font-size: 16px;
          }
          .image {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--soco-blue);
            width: 50%;
            img {
              width: 100%;
              height: auto;
              object-fit: contain;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .objective {
    flex-direction: column;
    // border-top: 1px solid var(--h-ul);
    .content {
      width: 100%;
      text-align: center;
      .btn {
        display: none;
      }
    }
    .images {
      margin-top: 30px;
      .img_bg {
        display: none;
      }
      .imgs {
        .row1,
        .row2 {
          flex-direction: column;
          .obj_card {
            width: 100%;
            padding-bottom: 5vh;
            .image {
              background-color: transparent;
              width: 75%;
              img {
                width: 80%;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
}
