.footer {
  width: 100%;
  padding: 5vh var(--padding-x);
  background-color: var(--soco-db);
  color: #fff;
  display: flex;
  justify-content: space-between;
  .sec1 {
    width: 25%;
  }
  .sec1,
  .sec2,
  .sec3,
  .sec4 {
    nav {
      padding-top: 10px;
      ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        a {
          text-decoration: none;
          color: #fff;
          li {
            list-style: none;
          }
        }
      }
    }
  }
}
