.about {
  width: 100%;
  padding: var(--padding-sec-y) 0;
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    .about_head {
      .h1_wrapper {
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: -80%;
          height: 3px;
          width: 100%;
          border-radius: 10px;
          background-color: var(--h-ul);
        }
      }
      .image {
        margin-top: 10px;
        img {
          width: 12.5vw;
          height: 7.5vw;
          //   height: 15vw;
          object-fit: contain;
        }
      }
    }
    .content {
      width: 70%;
      span {
        h4 {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 850px) {
  .about {
    position: relative;
    text-align: center;
    .header {
      flex-direction: column;
      align-items: center;
      .about_head {
        width: fit-content;
        .h1_wrapper {
          &::after {
            right: auto;
            left: 00%;
            top: auto;
            bottom: 00%;
          }
        }
        .image {
          position: absolute;
          top: 10vh;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0.5;
          img {
            width: 50vw;
            height: auto;
          }
        }
      }
      .content {
        margin-top: 2.5vh;
        width: 100%;
        h1 {
          font-size: 20px;
        }
        span {
          .clamped {
            width: 100%;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow-y: hidden;
          }
          h4 {
            display: block;
            color: var(--soco-blue);
            text-decoration: underline;
          }
        }
      }
    }
  }
}
