@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

@font-face {
  font-family: sifonn;
  src: url(../assets/SIFONN_BASIC.otf);
}

:root{
  --fc-pri: #2B2B2B;  /* Font color for headings */
  --fc-sec: #808598;  /* Font color for text */
  --fc-red: #E34D94;
  --fc-violet: #7C77C9;
  --fc-orange: #F97260;
  --fc-green: #568A73;
  --fc-blue: #109DB2;
  --fc-yellow: #FFCA12;
  --fs-pri:2.5vw;  /* Font size for headings */
  --fs-sec: 1.15vw; /* Font size for  content*/
  --fs-ter: 1.25vw;  /* For the price card names*/
  --fs-quotes: 8vw; /* For quotes before testimonials*/

  /* Paddings and margins */
  --padding-x: 5vw; /* universal X-Axis padding  */
  --padding-sec-y: 7.5vh; /* vertical padding for sections*/


  /* For Decorations */
  --h-ul : #E0E0E0; /* For underline border of header etc.*/
  --btn-bg-blue: linear-gradient(180deg, #3986ff 0%, #0063ff 100%);/* For Blue btn background*/
  --btn-shdw-blue: 0px 0px 15px rgba(0, 99, 255, 0.5);/* For blue btn shadow*/
  --box-shdw-1: 0px 0px 25px rgba(0, 0, 0, 0.1);/* For students card on hero page*/
  --box-shdw-2: 0px 0px 10px rgba(0, 0, 0, 0.05); /* For portrait circles on one for all section*/

  /* Colors */
  --soco-blue: #0063ff; /* Signature color of soco */   
  --soco-db: #050020; /* Dark blue color for footer*/
  --teal:#00BFFF;
  --light-blue:#b3ecff;
  --light-red: #ffcde5;
  --light-green: #c4ffc8;
  --light-orange: #ffe7e3;
  --light-yellow: #FFF0BB;
  --light-violet: #d7d4ff;

  /* Gradients */
  --gradient-violet:  linear-gradient(180deg, #C6C6FF 0%, #9F9FFF 100%);
  --gradient-green: linear-gradient(180deg, #E0F8E1 0%, #B9FFBC 100%);
  --gradient-blue:  linear-gradient(180deg, #BCD6FF 0%, #ACCCFF 100%);
  --gradient-yellow: linear-gradient(180deg, #FFF6D7 0%, #FFF0BB 100%);;

  /* fonts */
  --f-normal:'Poppins', sans-serif;;
  --f-quotes: 'Secular One', sans-serif;

  /* Responsiveness */
  --width-desktop:1100px;
  --width-mob: 700px;

}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--f-normal);
  /* border: 1px solid red; */
}

h1,h2,h3,h4,h5,h6{
  color: var(--fc-pri);
}

h1{
  font-size: var(--fs-pri);
}

p,li, strong{
  color: var(--fc-sec);
  font-size: var(--fs-sec);
}

@media only screen and (max-width:1100px){
  :root{
    --fs-pri:24px;  /* Font size for headings */
    --fs-sec: 16px; /* Font size for  content*/
    --fs-ter: 24px; 

    --padding-sec-y: 5vh;

    --btn-shdw-blue: 0px 0px 10px rgba(0, 99, 255, 0.5);
  }
}