@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root{
  --fc-pri: #2B2B2B;  /* Font color for headings */
  --fc-sec: #808598;  /* Font color for text */
  --fs-pri: 48px;  /* Font size for headings */
  --fs-sec: 24px;  /* Font size for  content*/

  /* Paddings and margins */
  --padding-x: 5vw; /* universal X-Axis padding  */

  /* For Decorations */
  --h-ul : #E0E0E0; /* For underline border of header etc.*/

  /* Colors */
  --soco-blue: #0063ff; /* Signature color of soco */
  --soco-db: #050020; /* Dark blue color for footer*/
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}